@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    scroll-behavior: smooth;
    overflow: hidden;
}

#mainPanel {
    display: inline-block;
    width: 600px;
    height: 80vh;
    box-shadow: 0px 0px 10px black;
    border: solid 2px gray;
    background: rgba(10, 10, 10, 0.8);
    transform: translateY(-100vh);
    height: fit-content;
    font-family: "Open Sans";
    transition: transform 0.5s;
    overflow: hidden;
    padding-bottom: 20px;
    border-radius: 5px;
}

#mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: rgb(10, 10, 10);
    filter: drop-shadow(0px 0px 2px black);
}

#mainProgress {
    display: inline-block;
    width: 95%;
    height: 20px;
    border: solid 1px gray;
}

#mainProgress > div {
    height: 100%;
    width: 0%;
    font-family: "Open Sans";
    text-align: center;
    background: linear-gradient(90deg, #42a839, #3fc533);
    transition: all 1s;
}

#mainProgress > span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 20px;
    font-weight: 600;
    color: white;
    filter: drop-shadow(0px 0px 1px #000000ab);
}

#mainProgress > span::before {
    content: "\f500 \00a0";
    font-family: "Font Awesome 5 Free";
}

.pingClass {
    color: #3fc533;
}

#mainList {
    overflow: hidden;
    overflow-y: scroll;
    height: fit-content;
    max-height: 700px;
}

#mainList > table {
    table-layout: fixed;
    margin-top: 20px;
    width: 100%;
    color: white;
    font-size: 15px;
    filter: drop-shadow(0px 0px 2px black);
}

#mainListTitle {
    color: #4DD5F1;
    text-decoration: underline;
    text-align: center;
}

::-webkit-scrollbar
{
    width: 5px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #4DD5F1;
}

@keyframes slideInAnim {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 900px;
    }
}

@keyframes slideOutAnim {
    0% {
        max-height: 900px;
    }
    100% {
        max-height: 0px;
    }
}